@charset "UTF-8";

body{
    background: url(../imagens/backm.jpg);
}

div#interface{
    background: #FFADAD;
    width: 1200px;
    margin: -8px auto 0px auto;
}

nav.menu{
    width: 700px;
    display: block;
    position: absolute;
    top: 97px;
    margin-left: 19.5%;
    z-index: 100%;
}

.menu ul{
    text-decoration: none;
    list-style: none;
    font-size: 1.1em;
    margin: 0px;
    padding: 0px;
}

.menu li{
    float: left;
}

.menu li a{
    text-decoration: none;
    color: #FFFFFC;
    font-weight: bold;
    background: #A0C4FF;
    padding: 5px 25px;
    margin: 0px;
    display: block;

}

.menu li a:hover{
    background: #FFFFFC;
    color: #A0C4FF ;
}


#banner_doces{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 350px;
    margin: 0px;

}

#banner_doces img{
    position: absolute;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
}

#banner1, #banner2:hover{
    opacity: 1;
}

#banner1:hover, #banner2{
    opacity: 0;
}

img{
    max-width: 100%;
    height: auto;
}

.textmenu{
    color: #FDFFB6;
    background: #BDB2FF;
    font-weight: bold;
    display: block;
    width: 50%;
    float: right;
    margin: 70px auto;
    border: 5px solid #fff;
    font-family: 'Hind Siliguri', sans-serif;
}

#imagemmenu{
    display: block;
    width: 45%;
    float: left;
    margin: 5px auto;
    padding: 10px;
    border: 5px solid #fff;
}

.textbolos{
    color: #FDFFB6;
    background: #BDB2FF;
    display: block;
    width: 50%;
    float: right;
    margin: 150px auto;
    border: 5px solid #fff;
}

#imagembolos{
    display: block;
    width: 45%;
    float: left;
    margin: 5px auto;
    padding: 10px;
    border: 5px solid #fff;
}




h2{
    text-align: center;
    color:#FDFFB6;
    font-size: 1.6em;
    margin: 3px;
    font-family: 'Lobster', cursive;
}

.rodape{
    clear: both;     
    border-top: 2px solid #BDB2FF;
}

.rodape p{                  
    text-align: center;
    font-size: 1.3em;
    text-decoration: none;
}



