@charset "UTF-8";

form{
    width: 85%;
    margin: auto;
}

input, textarea{
    background: #fff;
    font-size: 0.9em;
}

input:hover, textarea:hover{
    background: saddlebrown;
}

legend{
    color: salmon;
    font-size: 1.1em;
    font-weight: bold;
}

#sexo{
    width: 25%;
}

fieldset{
    border-color: sienna;
    margin: 20px;
}

.btn{
    background: palevioletred;
    padding: 10px;
    margin: 5px;
    font-size: 1.0em;
    border: none;
    color: black;
    font-weight: bold;
    display: inline-block;
    position: relative;
    left: 300px;
}

.btn:hover{
    background: chocolate;
}